rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn(){ return request.auth != null; }
    function ownerEmail(){ return signedIn() && request.auth.token.email == 'alibahripor33@gmail.com'; }
    match /familytreepro/families/{familyId}/people/{personId}/photos/{fileName} {
      allow read: if signedIn();
      allow write: if ownerEmail() || signedIn();
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
